# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C# directories we do not need
bin
obj

# MAC OSX
.DS_Store

# Crypto Files
*.pem

# NodeJS files
node_modules

# do not copy any download files
python/download/*

applications/python3/cgi-bin/myVariables.py

applications/python3/cgi-bin/__pycache__

# MacOS Sonoma Fix for Requests
python/path/to/venv